#uploader {
	width: 1024px;
    border-color: red;
    border-style: solid;
    margin: auto;
	
}

#dndArea {
	width: 1000px;
    border-color: #ded7d7;
    border-style: dashed;
    margin: 10px;
    text-align: center;
    padding: 100px 0;
}

.webuploader-container{
    margin-left: 900px;
}
.thumb{
	padding: 20px 50px 0px 50px;
}
.uploadInfo{
    width: 200px;
    padding: 20px 50px 0px 50px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}
.dlDiv{
	width: 1024px;
    text-align: center;
    margin: 10px;
}